<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="card">
    <div class="card-body">
        <h4>Nova Aula</h4>
        <form action="/admin/aulaslabcon/novo" method="POST">
            <label for="dia_semana">Dia da semana: </label>
            <input type="text" name="dia_semana" class="form-control" required>
            <label for="horario">Horário: </label>
            <select name="horario" class="custom-select">
                {{#each horarios}}
                <option value="{{_id}}">{{descricao}}</option>
                {{else}}
                <option value="0">Nenhuma Horario Registrado</option>
                {{/each}}
            </select>
            <label for="comentario">Comentario: </label>
            <input type="text" name="comentario" class="form-control">

            <button class="btn btn-success mt-4" type="submit">Criar Aula</button>
        </form>
    </div>
</div>