<h2>Nova Bancada</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/bancadas/nova" method="POST"> 
            <label for="nome">Descricao</label>
                <input type="text" id="descricao" name="descricao" placeholder="Nome da Bancada" class="form-control">
                <br>
            <button type="submit" class="btn btn-dark">Criar Bancada</button>
        </form>
    </div>
</div>