<h2>Novo Horário</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/horarios/novo" method="POST" class="needs-validation" novalidate>
            <label for="nome">Horário</label>
                <input type="text" id="descricao" name="descricao" placeholder="Informe horário. Ex: M12" class="form-control" pattern="[A-Z0-9a-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]+[A-Z0-9a-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" required>            
                <br>
            <button type="submit" class="btn btn-dark">Criar Horário</button>
        </form>
    </div>
</div>