<h2>Novo Hor치rio</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/horarios/novo" method="POST" class="needs-validation" novalidate>
            <label for="nome">Hor치rio</label>
                <input type="text" id="descricao" name="descricao" placeholder="Hor치rio" class="form-control" required>            
                <br>
            <button type="submit" class="btn btn-dark">Criar Hor치rio</button>
        </form>
    </div>
</div>