<h2>Nova Turma</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/turmas/nova" method="POST">
            <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Nome da Turma" class="form-control">
            <label for="slug">Horario:</label>
                <input type="text" id="slug" name="horario" placeholder="Horario da Turma" class="form-control">
                <br>
            <button type="submit" class="btn btn-success">Criar Turma</button>
        </form>
    </div>
</div>