{{>_navlabcon}}

<h2>Horários</h2>
<hr>
<a href="/admin/horarios/add"><button class="btn btn-success">Novo Horário</button></a>

{{#each horarios}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{descricao}}</h4><br>
            <a href="/admin/horarios/edit/{{_id}}"><button class="btn btn-success mt-4">Editar Horário</button></a>
            <form action="/admin/horarios/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar Horário</button>
            </form>
        </div>
    </div>
{{else}}
<h4 class="mt-3">Nenhuma Horário Cadastrado</h4>

{{/each}}