<h2>Administração LabsDCA</h2><br>
<hr class="my-4">

<div class="row">
    <div class="col-sm-3">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <b><h5 class="card-title">Sistemas de Controle</h5></b>
            <small><p class="card-text">Click para acessar a área de Sistemas de Controle.</p></small><br>
            <a href="/usuario/reservaslabcon"><button type="button" class="btn btn-outline-light btn-lg btn-block"><i class="icon-fixed-width icon-gear"></i>Gerenciar</button></a>
        </div>
    </div>
    </div>


    <div class="col-sm-3">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <b><h5 class="card-title">Robótica</h5></b>
            <small><p class="card-text">Click para acessar a área de Robótica.</p></small><br>
            <a href="#"><button type="button" class="btn btn-outline-light btn-lg btn-block"><i class="icon-fixed-width icon-gear"></i>Gerenciar</button></a>
        </div>
    </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <b><h5 class="card-title">Impressora 3D</h5></b>
            <small><p class="card-text">Click para acessar a área de Impressora 3D.</p></small><br>
            <a href="/imp3d/reservasimp3d"><button type="button" class="btn btn-outline-light btn-lg btn-block"><i class="icon-fixed-width icon-gear"></i>Gerenciar</button></a>
        </div>
        </div>
    </div>

      <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <b><h5 class="card-title">Adiconar Usuário</h5></b>
            <small><p class="card-text">Click para acessar área de registro de novo usuário.</p></small><br>
            <a href="/admin/usuarios"><button type="button" class="btn btn-outline-light btn-lg btn-block"><i class="icon-fixed-width icon-gear"></i>Acessar</button></a>
        </div>
    </div>
    </div>
  

</div>

