<h2>Administração LabsDCA</h2><br>


<div class="row">
    <div class="col-sm-3">
        <div class="card border-secondary mb-3" style="max-width: 16rem;">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Sistemas de Controle</h5>
            <a href="#" class="btn btn-secondary"><i class="icon-cog"> </i>Gerenciar</a>
        </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card border-secondary mb-3" style="max-width: 16rem;">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Robótica</h5>
        <a href="#" class="btn btn-secondary"><i class="icon-cog"> </i>Gerenciar</a>
        </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card border-secondary mb-3" style="max-width: 16rem;">
        <div class="card-header"></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Impressora 3D</h5>
        <a href="#" class="btn btn-secondary"><i class="icon-cog"> </i>Gerenciar</a>
        </div>
        </div>
    </div>
  

</div>

