<h2>Lista de Turmas</h2>
<hr>
<a href="/admin/turmas/add"><button class="btn btn-success">Nova Turma</button></a>

{{#each turmas}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{descricao}}</h4>
            <small>{{subturma}}</small><br>
        </div>
    </div>
{{else}}
<h4 class="mt-3">Nenhuma Turma Cadastrada</h4>

{{/each}}