<!-- 
      # FOOTER / RODAPE
    -->
    

    
    <footer id="footer">
      <div class='container wow fadeInLeftBig'>
        <div class='row'>
          <div class='col-lg-2 col-md-2 col-sm-2'>
            <div class='logo'>
              <img src="/img/brasao-ufrn.png" alt='UFRN Logo'>
            </div>
          </div>
          <div class='col-lg-10 col-md-10 col-sm-10'>
            <div class='institution'>
              <p><span>Departamento de Engenharia de Computação e Automação</span><br>
              Universidade Federal do Rio Grande do Norte - Centro de Tecnologia</p>
              <address class='contact-info'>
                <p><span class='fa fa-map-marker'></span>UFRN Campus Universitário Lagoa Nova - 59078-970 - Natal/RN - BRASIL</p>
                <p><span class='fa fa-phone'></span>+55 (84) 3342-2231 (ext 220 ou 200)</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
     
    
