<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">LabsDCA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/usuario/reservaslabcon">Sistemas de Controle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/imp3d/reservasimp3d">Impressora 3D</a>
      </li>
      {{else}}
      
      {{/if}}
    </ul>
    {{#if user}}
      <span class="navbar-text">
        <table>
          <tr>
          <th><small class="nav-link disabled"> Bem-vindo, {{user.nome}}!</small></th>
          <th><small><a class="nav-link" href="/usuario/logout">Sair</a></small></th>
          </tr>
          
        </table>
          
      </span>
    {{else}}
    <span class="navbar-text">
      <a class="nav-link" href="/usuario/login">Login</a>
    </span>
    {{/if}}

    
  </div>
</nav>