<nav class="nav justify-content-center">
  <a class="nav-link active" href="/usuario/reservaslabcon">Reservas</a>
  <a class="nav-link" href="/admin/turmas">Turmas</a>
  <a class="nav-link" href="/admin/grupos">Grupos</a>
  <a class="nav-link" href="/admin/horarios">Horários</a>
  <a class="nav-link" href="/admin/aulaslabcon">Aulas</a>
</nav>