<h4>Recuperação de senha</h4>
<div class="card">
    <div class="card-body">
        <form action="/usuario/forgot/edit" method="POST">
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control"><br>
            <button class="btn btn-dark mt-2" type="submit">Enviar</button>
            <button class="btn btn-secondary mt-2" type="reset">Cancelar</button>
        </form>
    </div>
</div>