<!--<div class="container">
  <div class="row">
    <div class="col align-self-start">
      
    </div>
    <div class="col align-self-center">
      <h5 align="center">DCALabs</h5>
      -->
      <!--
      <h5 align="center">DCALabs</h5>
<div class="card">
    <div class="card-body">
        <form action="/usuario/login" method="post" class="form-signin">
            <label for="email">Email: </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-user"></i></span>
                </div>
                <input type="email" class="form-control" name="email" required autofocus>
            </div>


            <label for="senha"> Senha: </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" name="senha" required>
            </div>
            <br>

            
            <button class="btn btn-dark btn-block" type="submit">Entrar</button>
            <button class="btn btn-secondary btn-block" type="reset">Cancelar</button>

        </form >
        
    </div>
</div>
-->
<!--
    </div>
    <div class="col align-self-end">
    </div>
  </div>
</div> -->


 <form action="/usuario/login" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">LabsDCA</h1>
      <label for="email" class="sr-only">Email</label>
      <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-user"></i></span>
                </div>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
      </div>
      <label for="senha" class="sr-only">Password</label>
      <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="icon-fixed-width icon-lock"></i></span>
                </div>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
        </div>
      <a href="/usuario/forgot"><p>Esqueceu a senha?</p></a>
      <button class="btn btn-dark btn-block" type="submit">Entrar</button>
      <button class="btn btn-secondary btn-block" type="reset">Cancelar</button>
    </form>
